body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Header */
.nav {
    height: 50px;
    background: rgb(190, 80, 1);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hamburger */
.hamburger {
    cursor: pointer;
}
.hamburger .bar {
    width: 25px;
    height: 3px;
    background: white;
    margin: 4px;
}

.hero {
    position: relative;
    width: 100%;
    height: 300px;
    background-image: url("./assests/homepage.pic.jpg");
    /* background-size: cover; */
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Black overlay */
.hero::before {
    content: "";
    position: absolute;
    /* top: 0; */
    /* left: 0; */
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55); 
    z-index: 1;
}

/* Keep content visible */
.hero * {
    position: relative;
    z-index: 2;
}
#searchInput{
    height: 50px;
    width: 700px;
    border-radius: 50px;
}

.hero h1,p{
    color: white;
}

.categories, #mealList, #results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    gap: 12px;
    padding: 20px;
}

/* Cards */
.category-card, .meal-card {
    background: #eee;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.category-card img, .meal-card img {
    width: 100%;
}

/* List view */
.list-item {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.category-card{
    position: relative;
}
.tag{
    position:absolute;
    border:none;
    background-color: rgb(255, 85, 0);
    color: white;
    top: 5px;
    right: 10px;
    font-size: 13px;
    padding: 1px;
}